.back-button {
    margin-top: 20px;
}

.back-button a {
    display: inline-block;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.back-button a:hover {
    background-color: #45a049; /* Darker shade of green */
}
