<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Select Company</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="logo-container">
    <img src="{{ url_for('static', filename='images/aapl_logo.png') }}" alt="AAPL" onclick="window.location.href='/summaries/AAPL'">
    <img src="{{ url_for('static', filename='images/msft_logo.png') }}" alt="MSFT" onclick="window.location.href='/summaries/MSFT'">
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
