<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Key Insights for {{ year }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Content Area -->
        <div class="content">
            <h1>Key Insights for {{ ticker }}'s 10-K Filing in {{ year }}</h1>
            <!-- Item Descriptions -->
            {% if content.get('item1') and content.get('item1') != 'No data available' %}
            <p><strong>Item 1 (Business Description):</strong> {{ content.get('item1') }}</p>
            {% endif %}
            {% if content.get('item1A') and content.get('item1A') != 'No data available' %}
            <p><strong>Item 1A (Risk Factors):</strong> {{ content.get('item1A') }}</p>
            {% endif %}
            {% if content.get('item7') and content.get('item7') != 'No data available' %}
            <p><strong>Item 7 (Management's Discussion and Analysis):</strong> {{ content.get('item7') }}</p>
            {% endif %}
        </div>
        <!-- Navigation Links, potentially using grid or flex styling if suitable -->
        <div class="grid-container">
            <a href="{{ url_for('years', ticker=ticker) }}" class="button">Back to Year Selection</a>
            <a href="{{ url_for('index') }}" class="button">Back to Company Selection</a>
        </div>
    </div>
    <footer>
        <p class="credits">By JPARK</p>
    </footer>
</body>

</html>