<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ ticker }} Summaries</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="grid-container">
    {% for year, content in data.items() %}
    <div class="doc-icon" onclick="showPopup('{{ year }}', '{{ content|tojson }}')">
        {{ year }}
    </div>
    {% endfor %}
</div>
<div id="popup" style="display:none;">
    <!-- Popup content will be filled by JavaScript -->
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
